/* Your CSS Code here. */
/* Style for the main element */
main.accio#job {
  width: 150px;
  height: 150px;
  background-color: black;
}

/* Style for the paragraph inside the main element */
main.accio#job .hello-accio {
  color: white;
  margin-left: 32px;
  padding: 10px;
}